$iphone: "(max-width: 319px)";
$iphonePortrait: "(min-width: 320px) and (max-width: 479px)";
$iphoneLandscape: "(min-width: 480px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 960px)";
$desktop: "(min-width: 1024px)";

@media #{$iphone} {
  /* Styles */
  body {
    max-width: 319px;
  }

  h2 {
    font-weight: $font-licht;
    font-size: $size24;
  }

  h3 {
    font-size: $size18;
  }

  p {
    font-size: $size14;
  }

  /* Header */
  header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;

    h1 a {
      height: 100px;
      background-size: auto 75px;
    }

    /* Navigatie */
    .mobile-trigger {
      display: block;
    }
    nav {
      display: none !important;

      float: left;
      position: absolute;
      height: 400px;
      width: 100%;
      top: 100px;
      left: 0;
      right: 0;
      background-color: #fff;
      display: inline-block;
      z-index: 10;

      @include box-shadow(0px 5px 10px 0px rgba(50, 50, 50, 0.25));

      li {
        margin: 5px 0;
        width: 100% !important;

        a {
          width: 85%;
          text-align: center;

          &.actie-knop {
            margin: 0 24% !important;
            width: 40% !important;
          }

        }

      }

    }
  }

  /* Intro */
  #divIntro {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;
    height: 100%;

    #divIntroBox {
      margin: 0 auto;
      width: 100%;
      article {
        float: left;
        margin-top: 10%;
        padding: 3%;
        width: 96%;

        h4 {
          display: none;
        }
      }
      #divIntroAfbeelding {
        width: 100%;
        height: 225px;
      }
    }
  }

  main {
    float: left;
    display: block;
    padding: 0 5%;
    width: 90%;

    section {
      width: 100%;
    }

    h4 {
      max-width: 90% !important;
    }

    /* Diensten */
    .vier-kolommen {
      float: left;
      width: 100% !important;
    }

    article {
      margin-bottom: 35px;
      img {
        width: 100%;
      }
    }

    /* Over VIP Home Service */
    .over-vip-home-service {
      summary {
        margin: 10% 5% !important;

        article {
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 100%;
          margin-bottom: 20px;

          h4 {
            width: 75%;
            line-height: 25px;
          }
        }
      }
    }

    /* Groene balk */
    .groene-balk {
      height: auto;
      h2 {
        margin: 25px 0;
        line-height: 50px;
      }
    }

    /* Dienstencheques */
    .home-dienstencheques {
      summary {
        margin: 0 !important;
      }
    }

    .twee-kolommen {
      margin: 0 5%;
      width: 90% !important;

      article {
        margin-bottom: 35px !important;
      }

      i {
        &.icon-dienstencheques, &.icon-vraag, &.icon-waarde, &.icon-thuishulpen {
          /*min-height: 200px !important;*/
          width: 100% !important;
          height: 70px !important;
          margin-bottom: 20px;
          background-position: bottom center;
        }
      }

    }

    /* Klant worden */
    .home-klant-worden-afbeelding, .home-klant-worden-tekst {
      float: left;
      width: 100% !important;
      margin-right: 0 !important;
    }

    .home-klant-worden-tekst h2 {
      text-align: center !important;
    }
  }

  footer {

    .footer-een-vraag {
      padding: 25px 0;
      height: auto;

      h3 {
        line-height: 50px;
      }
    }

    .footer-info {
      width: 100%;

      li {
        a {
          display: none;
        }
        ul {
          display: none;
        }
      }

      li:last-of-type {
        margin: 0 10%;
        display: block !important;
        width: 80%;
        ul {
          display: block;
        }
      }

      .webdesign-webit {
        margin: 0 10%;
        width: 80%;
      }
    }
  }
}

@media #{$iphonePortrait} {
  /* Styles */
  body {
    min-width: 320px;
  }

  h2 {
    font-weight: $font-licht;
    font-size: $size30;
  }

  h3 {
    font-size: $size20;
  }

  /* Header */
  header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;

    h1 a {
      height: 100px;
      background-size: auto 75px;
    }

    /* Navigatie */
    .mobile-trigger {
      display: block;
    }
    nav {
      display: none !important;

      float: left;
      position: absolute;
      height: 400px;
      width: 100%;
      top: 100px;
      left: 0;
      right: 0;
      background-color: #fff;
      display: inline-block;
      z-index: 10;

      @include box-shadow(0px 5px 10px 0px rgba(50, 50, 50, 0.25));

      li {
        margin: 5px 0;
        width: 100% !important;

        a {
          width: 85%;
          text-align: center;

          &.actie-knop {
            margin: 0 24% !important;
            width: 40% !important;
          }

        }

      }

    }
  }

  /* Intro */
  #divIntro {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;
    height: 100%;

    #divIntroBox {
      margin: 0 auto;
      width: 100%;
      article {
        float: left;
        margin-top: 10%;
        padding: 3%;
        width: 96%;

        h4 {
          display: none;
        }
      }
      #divIntroAfbeelding {
        width: 100%;
        height: 225px;
      }
    }
  }

  main {
    float: left;
    display: block;
    padding: 0 5%;
    width: 90%;

    section {
      width: 100%;
    }

    h4 {
      max-width: 90% !important;
    }

    /* Diensten */
    .vier-kolommen {
      float: left;
      width: 100% !important;
    }

    article {
      margin-bottom: 35px;
      img {
        width: 100%;
      }
    }

    /* Over VIP Home Service */
    .over-vip-home-service {
      summary {
        margin: 10% 5% !important;

        article {
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 100%;
          margin-bottom: 20px;

          h4 {
            width: 75%;
            line-height: 25px;
          }
        }
      }
    }

    /* Groene balk */
    .groene-balk {
      height: auto;
      h2 {
        margin: 25px 0;
        line-height: 50px;
      }
    }

    /* Dienstencheques */
    .home-dienstencheques {
      summary {
        margin: 0 !important;
      }
    }

    .twee-kolommen {
      margin: 0 5%;
      width: 90% !important;

      article {
        margin-bottom: 35px !important;
      }

      i {
        &.icon-dienstencheques, &.icon-vraag, &.icon-waarde, &.icon-thuishulpen {
          /*min-height: 200px !important;*/
          width: 100% !important;
          height: 70px !important;
          margin-bottom: 20px;
          background-position: bottom center;
        }
      }

    }

    /* Klant worden */
    .home-klant-worden-afbeelding, .home-klant-worden-tekst {
      float: left;
      width: 100% !important;
      margin-right: 0 !important;
    }

    .home-klant-worden-tekst h2 {
      text-align: center !important;
    }
  }

  footer {

    .footer-een-vraag {
      padding: 25px 0;
      height: auto;

      h3 {
        line-height: 50px;
      }
    }

    .footer-info {
      width: 100%;

      li {
        a {
          display: none;
        }
        ul {
          display: none;
        }

        .footer-telefoon {
          font-size: $size18;
          height: 40px;
        }
      }

      li:last-of-type {
        margin: 0 10%;
        display: block !important;
        width: 80%;
        ul {
          float: left;
          display: block;
          padding-bottom: 25px;
        }
      }



      .webdesign-webit {
        margin: 0 10%;
        width: 80%;
      }
    }
  }
}

@media #{$iphoneLandscape} {
  /* Styles */
  body {
    min-width: 480px;
  }

  /* Header */
  header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;

    h1 a {
      height: 100px;
      background-size: auto 75px;
    }

    /* Navigatie */
    .mobile-trigger {
      display: block;
    }
    nav {
      display: none !important;

      float: left;
      position: absolute;
      height: 400px;
      width: 100%;
      top: 100px;
      left: 0;
      right: 0;
      background-color: #fff;
      display: inline-block;
      z-index: 10;

      @include box-shadow(0px 5px 10px 0px rgba(50, 50, 50, 0.25));

      li {
        margin: 5px 0;
        width: 100% !important;

        a {
          width: 85%;
          text-align: center;

          &.actie-knop {
            margin: 0 28% !important;
            width: 35% !important;
          }

        }

      }

    }
  }

  /* Intro */
  #divIntro {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;
    height: 100%;

    #divIntroBox {
      margin: 0 auto;
      width: 100%;
      article {
        float: left;
        margin-top: 2%;
        padding: 3%;
        width: 96%;

        h4 {
          display: none;
        }
      }
      #divIntroAfbeelding {
        width: 100%;
        height: 250px;
        background-size: 75%;
      }
    }
  }

  main {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;

    section {
      width: 100%;
    }

    h4 {
      max-width: 90% !important;
    }

    /* Diensten */
    .vier-kolommen {
      width: 47% !important;
    }

    article {
      margin-bottom: 35px;
      img {
        width: 100%;
      }
    }

    /* Over VIP Home Service */
    .over-vip-home-service {
      summary {
        margin: 10% 5% !important;

        .twee-kolommen {
          width: 98% !important;
        }
        article {
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 100%;
          margin-bottom: 20px;

          h4 {
            width: 75%;
            line-height: 25px;
          }
        }
      }
    }

    /* Groene balk */
    .groene-balk {
      height: auto;
      h2 {
        margin: 25px 0;
        line-height: 50px;
      }
    }

    /* Dienstencheques */
    .home-dienstencheques {
      summary {
        margin: 0 5% !important;
      }
    }

    .twee-kolommen {
      width: 90% !important;

      i {
        &.icon-dienstencheques, &.icon-vraag, &.icon-waarde, &.icon-thuishulpen {
          min-height: 290px !important;
        }
      }

    }

    /* Klant worden */
    .home-klant-worden-afbeelding, .home-klant-worden-tekst {
      float: left;
      width: 100% !important;
      margin-right: 0 !important;
    }
    .home-klant-worden-tekst {
      h2 {
        text-align: center !important;
      }
    }
  }

  footer {

    .footer-een-vraag {
      padding: 25px 0;
      height: auto;

      h3 {
        font-size: $size20;
        line-height: 50px;
      }
    }

    .footer-info {
      width: 100%;

      li {
        a {
          display: none;
        }
        ul {
          display: none;
        }
      }

      li:last-of-type {
        margin: 0 10%;
        display: block !important;
        width: 80%;
        ul {
          display: block;
        }
      }

      .webdesign-webit {
        margin: 0 10%;
        width: 80%;
      }
    }
  }
}

@media #{$tablet} {
  /* Styles */
  body {
    min-width: 768px;
  }

  /* Header */
  header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;

    h1 a {
      height: 100px;
      background-size: auto 75px;
    }

    /* Navigatie */
    .mobile-trigger {
      display: block;
    }
    nav {
      display: none !important;

      float: left;
      position: absolute;
      height: 400px;
      width: 100%;
      top: 100px;
      left: 0;
      right: 0;
      background-color: #fff;
      display: inline-block;
      z-index: 10;

      li {
        margin: 5px 0;
        width: 100% !important;

        a {
          width: 85%;
          text-align: center;

          &.actie-knop {
            margin: 0 28% !important;
            width: 35% !important;
          }
        }
      }
    }
  }

  /* Intro */
  #divIntro {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;
    height: 100%;

    #divIntroBox {
      width: 100%;

      article {
        float: left;
        margin-top: 2%;
        padding: 3%;
        width: 47%;

        h4 {
          display: none;
        }
      }
      #divIntroAfbeelding {
        width: 47%;
        height: 300px;
      }
    }
  }

  main {
    float: left;
    display: block;
    padding: 0 3%;
    width: 94%;

    section {
      width: 100%;
    }

    h4 {
      max-width: 90% !important;
    }

    article {
      margin-bottom: 35px;
      img {
        width: 100%;
      }
    }

    /* Over VIP Home Service */
    .over-vip-home-service {
      summary {
        margin: 10% 5% !important;

        .twee-kolommen {
          width: 44% !important;
        }
        article {
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 100%;
          margin-bottom: 20px;

          h4 {
            width: 75%;
            line-height: 25px;
          }
        }
      }
    }

    /* Groene balk */
    .groene-balk {
      height: auto;
      h2 {
        margin: 25px 0;
        line-height: 50px;
      }
    }

    /* Dienstencheques */
    .twee-kolommen {
      i {
        &.icon-dienstencheques, &.icon-vraag, &.icon-waarde, &.icon-thuishulpen {
          min-height: 170px !important;
        }
      }
    }
  }

  footer {

    .footer-een-vraag {
      padding: 25px 0;
      height: auto;

      h3 {
        line-height: 50px;
      }
    }

    .footer-info {
      width: 100%;

      li {
        a {
          display: none;
        }
        ul {
          display: none;
        }
      }

      li:last-of-type {
        margin: 0 10%;
        display: block !important;
        width: 80%;
        ul {
          display: block;
        }
      }

      .webdesign-webit {
        margin: 0 10%;
        width: 80%;
      }
    }
  }
}