/* mobile trigger button */
.mobile-trigger {
  position: absolute;
  display: block;
  cursor: pointer;
  text-indent: -9999em;
  display: block;
  right: 10px;
  top: 30px;
  width: 40px;
  height: 35px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-menu-grijs.png");
    content: '';
  }
}

input[type="checkbox"] {
  display: none;
}

.nav-trigger:checked + .mobile-trigger::before {
  top: 0;
  left: 0;
  width: 40px;
  height: 35px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-close-grijs.png");
}

.nav-trigger:checked ~ nav {
  display: inline-block !important;
}