@charset "UTF-8";

@font-face {
  font-family: "vip-home-services";
  src:url("../fonts/vip-home-services.eot");
  src:url("../fonts/vip-home-services.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vip-home-services.woff") format("woff"),
    url("../fonts/vip-home-services.ttf") format("truetype"),
    url("../fonts/vip-home-services.svg#vip-home-services") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vip-home-services" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vip-home-services" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "a";
}
.icon-close:before {
  content: "b";
}
.icon-euro:before {
  content: "c";
}
.icon-group:before {
  content: "d";
}
.icon-mail:before {
  content: "e";
}
.icon-menu:before {
  content: "f";
}
.icon-phone:before {
  content: "g";
}
.icon-plus:before {
  content: "h";
}
.icon-question:before {
  content: "i";
}
.icon-right:before {
  content: "j";
}
.icon-circle-card:before {
  content: "k";
}
.icon-circle-euro:before {
  content: "l";
}
.icon-circle-group:before {
  content: "m";
}
.icon-circle-question:before {
  content: "n";
}
