@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* Kleuren */
/* Font weight */
/* Font size */
body { font: 100% "Lato", Helvetica, sans-serif; color: #333; }

h2 { color: #4fbca9; font-size: 2.5em; font-weight: 100; text-transform: uppercase; }

h3 { margin: 10px 0 20px 0; color: #333; font-size: 1.5em; font-weight: 400; }

h4 { font-size: 1.125em; font-weight: 300; }

h5 { font-weight: 700; }

p { font-size: 1em; font-weight: 300; color: #555; line-height: 22px; margin-bottom: 15px; }

a { text-decoration: none; color: #c8d100; -moz-transition: color 0.1s ease-out; -webkit-transition: color 0.1s ease-out; transition: color 0.1s ease-out; transition: all .2s ease-out; }
a:hover, a:focus { color: #afbe0c; }
a.actief { color: #c8d100; }

i { margin-left: 10px; transition: all .2s ease-out; }

/* Algemene opmaak */
.titel-outline { display: none; opacity: 0; text-indent: -9999px; text-indent: -9999em; }

section, header, nav, aside, article, footer { display: block; }

.volledige-breedte { float: left; margin: 50px 0; display: block; width: 100%; text-align: center; }

.last { margin-right: 0px !important; }

.actie-knop { color: #fff; text-decoration: none; display: inline-block; height: 50px; line-height: 50px; padding: 0 25px; border-radius: 500px; background-color: #c8d100; -moz-transition: background-color 0.1s ease-out; -webkit-transition: background-color 0.1s ease-out; transition: background-color 0.1s ease-out; }
.actie-knop i { width: 25px; height: 25px; text-indent: -9999px; }
.actie-knop i:hover { padding-left: 0px !important; }
.actie-knop:hover, .actie-knop:focus { color: #fff; background-color: #afbe0c; }

.groene-balk { float: left; display: block; margin: 25px 0; height: 100px; line-height: 100px; background-color: #4fbca9; /*box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.25);*/ -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); }
.groene-balk h2 { color: #fff !important; padding: 0; }

/* Home */
header { margin: 0 auto; width: 1170px; height: 150px; /* mobile trigger button */ }
header h1 { float: left; text-indent: -9999px; }
header h1 a { display: block; width: 100px; height: 150px; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-size: 88px 100px; background-position: center; }
header .mobile-trigger { position: absolute; display: block; cursor: pointer; text-indent: -9999em; display: block; right: 10px; top: 30px; width: 40px; height: 35px; }
header .mobile-trigger:before { position: absolute; top: 0; left: 0; width: 40px; height: 35px; background-size: 25px; background-position: center; background-repeat: no-repeat; background-image: url("../img/icon-menu-grijs.png"); content: ''; }
header input[type="checkbox"] { display: none; }
header .nav-trigger:checked + .mobile-trigger::before { top: 0; left: 0; width: 40px; height: 35px; background-size: 25px; background-position: center; background-repeat: no-repeat; background-image: url("../img/icon-close-grijs.png"); }
header .nav-trigger:checked ~ nav { display: inline-block !important; }
header .mobile-trigger { display: none; }
header nav ul { margin: 0; padding: 0; list-style: none; text-align: right; }
header nav li { margin-top: 50px; display: inline-block; font-size: 0.875em; font-weight: 400; }
header nav a { float: left; display: block; height: 50px; line-height: 50px; margin: 0 15px; padding: 0 15px; font-size: 1.125em; text-decoration: none; color: #555; }
header nav a:hover, header nav a:focus { color: #afbe0c; }

#divIntro { width: 100%; height: 450px; background-color: #eee; }
#divIntro #divIntroBox { margin: 0 auto; width: 1170px; }
#divIntro #divIntroBox article { float: left; margin-top: 100px; padding: 35px; width: 470px; }
#divIntro #divIntroBox article h2 { margin-top: 10px; margin-bottom: 20px; }
#divIntro #divIntroBox #divIntroAfbeelding { float: right; width: 585px; height: 450px; background-image: url("../img/groene-tshirt.png"); background-repeat: no-repeat; background-position: right bottom; background-size: 100% auto; }

main section { margin: 0 auto; display: block; width: 1170px; clear: both; }
main section h2 { display: block; padding: 65px 0; width: 100%; text-align: center; }
main section h4 { margin: 0 auto; text-align: center; max-width: 770px; max-width: 65.81197%; }
main section a { transition: all .2s ease-out; }
main section a:hover i { padding-left: 10px; }
main section .twee-kolommen { float: left; display: inline-block; width: 470px; width: 40.17094%; margin-right: 30px; margin-right: 2.5641%; clear: none; }
main section .vier-kolommen { float: left; display: inline-block; width: 270px; width: 23.07692%; margin-right: 30px; margin-right: 2.5641%; }
main section .bg-grijs { float: left; margin-top: 100px; margin-top: 8.54701%; margin-bottom: 100px; margin-bottom: 8.54701%; background-color: #eee; }
main section .bg-grijs summary { margin: 50px 100px; width: 100%; }
main section .over-vip-home-service article { height: 25px; line-height: 25px; text-align: left; margin-bottom: 15px; }
main section .over-vip-home-service article i { float: left; font-size: 1.5em; color: #f3db00; }
main section .over-vip-home-service article h4 { float: left; margin-left: 15px; max-width: 90%; text-align: left; height: 100%; line-height: 100%; }
main section.home-dienstencheques { display: table; margin-bottom: 50px !important; }
main section.home-dienstencheques summary { margin: 50px 100px; width: 100%; }
main section.home-dienstencheques article:first-of-type { margin-bottom: 50px; }
main section.home-dienstencheques h4 { margin-bottom: 50px; }
main section.home-dienstencheques i.icon-dienstencheques, main section.home-dienstencheques i.icon-vraag, main section.home-dienstencheques i.icon-waarde, main section.home-dienstencheques i.icon-thuishulpen { float: left; width: 70px; height: 200px; margin-right: 25px; text-indent: -9999px; background-repeat: no-repeat; }
main section.home-dienstencheques i.icon-dienstencheques { background-image: url("../img/icon-dienstencheques.png"); }
main section.home-dienstencheques i.icon-vraag { background-image: url("../img/icon-vraag.png"); }
main section.home-dienstencheques i.icon-waarde { background-image: url("../img/icon-waarde.png"); }
main section.home-dienstencheques i.icon-thuishulpen { background-image: url("../img/icon-thuishulpen.png"); }
main section.home-dienstencheques i.pijl-rechts { float: right; display: inline-block; width: 25px; height: 50px !important; margin-left: 5px; text-indent: -9999px !important; background: url("../img/icon-pijl-rechts-wit.png") no-repeat center; background-size: 16px; margin-right: 0; }
main section.home-klant-worden .home-klant-worden-afbeelding, main section.home-klant-worden .home-klant-worden-tekst { float: right; width: 570px; width: 48.71795%; margin-right: 30px; margin-right: 2.5641%; }
main section.home-klant-worden .home-klant-worden-afbeelding img { float: left; width: 100%; }
main section.home-klant-worden .home-klant-worden-tekst h2 { padding: 0 0 15px 0; text-align: left; }

footer { float: left; clear: both; width: 100%; margin-top: 100px; padding-bottom: 50px; background-color: #444; }
footer .footer-een-vraag { float: left; width: 100%; background-color: #333; }
footer .footer-een-vraag h3 { position: relative; width: 100%; text-align: center; color: #fff; font-weight: 300; margin: 50px 0; height: 50px; line-height: 50px; }
footer .footer-een-vraag a { display: inline-block; width: 30px; margin-right: 35px; background-color: blue; }
footer .footer-een-vraag a i { position: absolute; margin-left: 0 !important; bottom: -5px; font-size: 1.5em !important; }
footer .footer-info { margin: 0 auto; width: 1170px; }
footer .footer-info nav { float: left; margin: 50px 0; }
footer .footer-info nav ul { margin: 0; padding: 0; list-style: none; text-align: left; }
footer .footer-info nav ul li { float: left; display: inline-block; font-size: 1em; font-weight: 300; width: 182.5px; width: 15.59829%; margin-right: 15px; margin-right: 1.28205%; color: #fff; }
footer .footer-info nav ul li a { color: #fff; }
footer .footer-info nav ul li a.actief { color: #c8d100; }
footer .footer-info nav ul li a:hover, footer .footer-info nav ul li a:focus { color: #c8d100 !important; }
footer .footer-info nav ul li ul li:first-child { margin-top: 30px; }
footer .footer-info nav ul li ul li { float: left; display: block; width: 100%; color: #ccc; margin-bottom: 15px; }
footer .footer-info nav ul li ul a { color: #ccc; }
footer .footer-info nav ul li ul a:hover, footer .footer-info nav ul li ul a:focus { color: #c8d100 !important; }
footer .footer-info nav ul li ul .footer-telefoon { font-size: 1.375em; color: #c8d100; }
footer .footer-info nav ul li ul .footer-telefoon i { width: 25px; font-size: 0.875em; display: inline-block; }
footer .footer-info nav ul li ul .footer-email { font-size: 0.875em; }
footer .footer-info .webdesign-webit { float: right; }
footer .footer-info .webdesign-webit h2 { font-size: 1em; text-transform: none; font-weight: 300; color: #fff; }
footer .footer-info .webdesign-webit h2 a { display: inline-block; width: 50px; text-indent: -9999px; margin-left: 5px; background-color: red; background: url("../img/webit.png") no-repeat; background-position: center; background-size: 50px; }

@media (max-width: 319px) { /* Styles */
  body { max-width: 319px; }
  h2 { font-weight: 300; font-size: 1.5em; }
  h3 { font-size: 1.125em; }
  p { font-size: 0.875em; }
  /* Header */
  header { position: relative; float: left; width: 100%; height: 100px; /* Navigatie */ }
  header h1 a { height: 100px; background-size: auto 75px; }
  header .mobile-trigger { display: block; }
  header nav { display: none !important; float: left; position: absolute; height: 400px; width: 100%; top: 100px; left: 0; right: 0; background-color: #fff; display: inline-block; z-index: 10; -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); }
  header nav li { margin: 5px 0; width: 100% !important; }
  header nav li a { width: 85%; text-align: center; }
  header nav li a.actie-knop { margin: 0 24% !important; width: 40% !important; }
  /* Intro */
  #divIntro { float: left; display: block; padding: 0 3%; width: 94%; height: 100%; }
  #divIntro #divIntroBox { margin: 0 auto; width: 100%; }
  #divIntro #divIntroBox article { float: left; margin-top: 10%; padding: 3%; width: 96%; }
  #divIntro #divIntroBox article h4 { display: none; }
  #divIntro #divIntroBox #divIntroAfbeelding { width: 100%; height: 225px; }
  main { float: left; display: block; padding: 0 5%; width: 90%; /* Diensten */ /* Over VIP Home Service */ /* Groene balk */ /* Dienstencheques */ /* Klant worden */ }
  main section { width: 100%; }
  main h4 { max-width: 90% !important; }
  main .vier-kolommen { float: left; width: 100% !important; }
  main article { margin-bottom: 35px; }
  main article img { width: 100%; }
  main .over-vip-home-service summary { margin: 10% 5% !important; }
  main .over-vip-home-service summary article { float: left; display: block; width: 100%; height: 100%; line-height: 100%; margin-bottom: 20px; }
  main .over-vip-home-service summary article h4 { width: 75%; line-height: 25px; }
  main .groene-balk { height: auto; }
  main .groene-balk h2 { margin: 25px 0; line-height: 50px; }
  main .home-dienstencheques summary { margin: 0 !important; }
  main .twee-kolommen { margin: 0 5%; width: 90% !important; }
  main .twee-kolommen article { margin-bottom: 35px !important; }
  main .twee-kolommen i.icon-dienstencheques, main .twee-kolommen i.icon-vraag, main .twee-kolommen i.icon-waarde, main .twee-kolommen i.icon-thuishulpen { /*min-height: 200px !important;*/ width: 100% !important; height: 70px !important; margin-bottom: 20px; background-position: bottom center; }
  main .home-klant-worden-afbeelding, main .home-klant-worden-tekst { float: left; width: 100% !important; margin-right: 0 !important; }
  main .home-klant-worden-tekst h2 { text-align: center !important; }
  footer .footer-een-vraag { padding: 25px 0; height: auto; }
  footer .footer-een-vraag h3 { line-height: 50px; }
  footer .footer-info { width: 100%; }
  footer .footer-info li a { display: none; }
  footer .footer-info li ul { display: none; }
  footer .footer-info li:last-of-type { margin: 0 10%; display: block !important; width: 80%; }
  footer .footer-info li:last-of-type ul { display: block; }
  footer .footer-info .webdesign-webit { margin: 0 10%; width: 80%; } }
@media (min-width: 320px) and (max-width: 479px) { /* Styles */
  body { min-width: 320px; }
  h2 { font-weight: 300; font-size: 1.875em; }
  h3 { font-size: 1.25em; }
  /* Header */
  header { position: relative; float: left; width: 100%; height: 100px; /* Navigatie */ }
  header h1 a { height: 100px; background-size: auto 75px; }
  header .mobile-trigger { display: block; }
  header nav { display: none !important; float: left; position: absolute; height: 400px; width: 100%; top: 100px; left: 0; right: 0; background-color: #fff; display: inline-block; z-index: 10; -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); }
  header nav li { margin: 5px 0; width: 100% !important; }
  header nav li a { width: 85%; text-align: center; }
  header nav li a.actie-knop { margin: 0 24% !important; width: 40% !important; }
  /* Intro */
  #divIntro { float: left; display: block; padding: 0 3%; width: 94%; height: 100%; }
  #divIntro #divIntroBox { margin: 0 auto; width: 100%; }
  #divIntro #divIntroBox article { float: left; margin-top: 10%; padding: 3%; width: 96%; }
  #divIntro #divIntroBox article h4 { display: none; }
  #divIntro #divIntroBox #divIntroAfbeelding { width: 100%; height: 225px; }
  main { float: left; display: block; padding: 0 5%; width: 90%; /* Diensten */ /* Over VIP Home Service */ /* Groene balk */ /* Dienstencheques */ /* Klant worden */ }
  main section { width: 100%; }
  main h4 { max-width: 90% !important; }
  main .vier-kolommen { float: left; width: 100% !important; }
  main article { margin-bottom: 35px; }
  main article img { width: 100%; }
  main .over-vip-home-service summary { margin: 10% 5% !important; }
  main .over-vip-home-service summary article { float: left; display: block; width: 100%; height: 100%; line-height: 100%; margin-bottom: 20px; }
  main .over-vip-home-service summary article h4 { width: 75%; line-height: 25px; }
  main .groene-balk { height: auto; }
  main .groene-balk h2 { margin: 25px 0; line-height: 50px; }
  main .home-dienstencheques summary { margin: 0 !important; }
  main .twee-kolommen { margin: 0 5%; width: 90% !important; }
  main .twee-kolommen article { margin-bottom: 35px !important; }
  main .twee-kolommen i.icon-dienstencheques, main .twee-kolommen i.icon-vraag, main .twee-kolommen i.icon-waarde, main .twee-kolommen i.icon-thuishulpen { /*min-height: 200px !important;*/ width: 100% !important; height: 70px !important; margin-bottom: 20px; background-position: bottom center; }
  main .home-klant-worden-afbeelding, main .home-klant-worden-tekst { float: left; width: 100% !important; margin-right: 0 !important; }
  main .home-klant-worden-tekst h2 { text-align: center !important; }
  footer .footer-een-vraag { padding: 25px 0; height: auto; }
  footer .footer-een-vraag h3 { line-height: 50px; }
  footer .footer-info { width: 100%; }
  footer .footer-info li a { display: none; }
  footer .footer-info li ul { display: none; }
  footer .footer-info li .footer-telefoon { font-size: 1.125em; height: 40px; }
  footer .footer-info li:last-of-type { margin: 0 10%; display: block !important; width: 80%; }
  footer .footer-info li:last-of-type ul { float: left; display: block; padding-bottom: 25px; }
  footer .footer-info .webdesign-webit { margin: 0 10%; width: 80%; } }
@media (min-width: 480px) and (max-width: 767px) { /* Styles */
  body { min-width: 480px; }
  /* Header */
  header { position: relative; float: left; width: 100%; height: 100px; /* Navigatie */ }
  header h1 a { height: 100px; background-size: auto 75px; }
  header .mobile-trigger { display: block; }
  header nav { display: none !important; float: left; position: absolute; height: 400px; width: 100%; top: 100px; left: 0; right: 0; background-color: #fff; display: inline-block; z-index: 10; -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25); }
  header nav li { margin: 5px 0; width: 100% !important; }
  header nav li a { width: 85%; text-align: center; }
  header nav li a.actie-knop { margin: 0 28% !important; width: 35% !important; }
  /* Intro */
  #divIntro { float: left; display: block; padding: 0 3%; width: 94%; height: 100%; }
  #divIntro #divIntroBox { margin: 0 auto; width: 100%; }
  #divIntro #divIntroBox article { float: left; margin-top: 2%; padding: 3%; width: 96%; }
  #divIntro #divIntroBox article h4 { display: none; }
  #divIntro #divIntroBox #divIntroAfbeelding { width: 100%; height: 250px; background-size: 75%; }
  main { float: left; display: block; padding: 0 3%; width: 94%; /* Diensten */ /* Over VIP Home Service */ /* Groene balk */ /* Dienstencheques */ /* Klant worden */ }
  main section { width: 100%; }
  main h4 { max-width: 90% !important; }
  main .vier-kolommen { width: 47% !important; }
  main article { margin-bottom: 35px; }
  main article img { width: 100%; }
  main .over-vip-home-service summary { margin: 10% 5% !important; }
  main .over-vip-home-service summary .twee-kolommen { width: 98% !important; }
  main .over-vip-home-service summary article { float: left; display: block; width: 100%; height: 100%; line-height: 100%; margin-bottom: 20px; }
  main .over-vip-home-service summary article h4 { width: 75%; line-height: 25px; }
  main .groene-balk { height: auto; }
  main .groene-balk h2 { margin: 25px 0; line-height: 50px; }
  main .home-dienstencheques summary { margin: 0 5% !important; }
  main .twee-kolommen { width: 90% !important; }
  main .twee-kolommen i.icon-dienstencheques, main .twee-kolommen i.icon-vraag, main .twee-kolommen i.icon-waarde, main .twee-kolommen i.icon-thuishulpen { min-height: 290px !important; }
  main .home-klant-worden-afbeelding, main .home-klant-worden-tekst { float: left; width: 100% !important; margin-right: 0 !important; }
  main .home-klant-worden-tekst h2 { text-align: center !important; }
  footer .footer-een-vraag { padding: 25px 0; height: auto; }
  footer .footer-een-vraag h3 { font-size: 1.25em; line-height: 50px; }
  footer .footer-info { width: 100%; }
  footer .footer-info li a { display: none; }
  footer .footer-info li ul { display: none; }
  footer .footer-info li:last-of-type { margin: 0 10%; display: block !important; width: 80%; }
  footer .footer-info li:last-of-type ul { display: block; }
  footer .footer-info .webdesign-webit { margin: 0 10%; width: 80%; } }
@media (min-width: 768px) and (max-width: 960px) { /* Styles */
  body { min-width: 768px; }
  /* Header */
  header { position: relative; float: left; width: 100%; height: 100px; /* Navigatie */ }
  header h1 a { height: 100px; background-size: auto 75px; }
  header .mobile-trigger { display: block; }
  header nav { display: none !important; float: left; position: absolute; height: 400px; width: 100%; top: 100px; left: 0; right: 0; background-color: #fff; display: inline-block; z-index: 10; }
  header nav li { margin: 5px 0; width: 100% !important; }
  header nav li a { width: 85%; text-align: center; }
  header nav li a.actie-knop { margin: 0 28% !important; width: 35% !important; }
  /* Intro */
  #divIntro { float: left; display: block; padding: 0 3%; width: 94%; height: 100%; }
  #divIntro #divIntroBox { width: 100%; }
  #divIntro #divIntroBox article { float: left; margin-top: 2%; padding: 3%; width: 47%; }
  #divIntro #divIntroBox article h4 { display: none; }
  #divIntro #divIntroBox #divIntroAfbeelding { width: 47%; height: 300px; }
  main { float: left; display: block; padding: 0 3%; width: 94%; /* Over VIP Home Service */ /* Groene balk */ /* Dienstencheques */ }
  main section { width: 100%; }
  main h4 { max-width: 90% !important; }
  main article { margin-bottom: 35px; }
  main article img { width: 100%; }
  main .over-vip-home-service summary { margin: 10% 5% !important; }
  main .over-vip-home-service summary .twee-kolommen { width: 44% !important; }
  main .over-vip-home-service summary article { float: left; display: block; width: 100%; height: 100%; line-height: 100%; margin-bottom: 20px; }
  main .over-vip-home-service summary article h4 { width: 75%; line-height: 25px; }
  main .groene-balk { height: auto; }
  main .groene-balk h2 { margin: 25px 0; line-height: 50px; }
  main .twee-kolommen i.icon-dienstencheques, main .twee-kolommen i.icon-vraag, main .twee-kolommen i.icon-waarde, main .twee-kolommen i.icon-thuishulpen { min-height: 170px !important; }
  footer .footer-een-vraag { padding: 25px 0; height: auto; }
  footer .footer-een-vraag h3 { line-height: 50px; }
  footer .footer-info { width: 100%; }
  footer .footer-info li a { display: none; }
  footer .footer-info li ul { display: none; }
  footer .footer-info li:last-of-type { margin: 0 10%; display: block !important; width: 80%; }
  footer .footer-info li:last-of-type ul { display: block; }
  footer .footer-info .webdesign-webit { margin: 0 10%; width: 80%; } }

/*# sourceMappingURL=style.css.map */
