@import "reset";
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300,700);

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin transition($animation...) {
  -moz-transition: $animation;
  -webkit-transition: $animation;
  transition: $animation;
}

$font-stack: 'Lato', Helvetica, sans-serif;

/* Kleuren */
$grijs: #555;
$donker-grijs: #333;
$licht-groen: #c8d100;
$licht-groen-hover: #afbe0c;
$donker-groen: #4fbca9;
$geel: #f3db00;

/* Font weight */
$font-dun: 100;
$font-licht: 300;
$font-normaal: 400;
$font-bold: 700;

/* Font size */
$size12: (12 / 16) * 1em;
$size13: (13 / 16) * 1em;
$size14: (14 / 16) * 1em;
$size16: (16 / 16) * 1em;
$size18: (18 / 16) * 1em;
$size20: (20 / 16) * 1em;
$size22: (22 / 16) * 1em;
$size24: (24 / 16) * 1em;
$size30: (30 / 16) * 1em;
$size40: (40 / 16) * 1em;




body {
  font: 100% $font-stack;
  color: $donker-grijs;
}

h2 {
  color: $donker-groen;
  font-size: $size40;
  font-weight: $font-dun;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0 20px 0;
  color: $donker-grijs;
  font-size: $size24;
  font-weight: $font-normaal;
}

h4 {
  font-size: $size18;
  font-weight: $font-licht;
}

h5 {
  font-weight: $font-bold;
}

p {
  font-size: $size16;
  font-weight: $font-licht;
  color: $grijs;
  line-height: 22px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: $licht-groen;
  @include transition(color 0.1s ease-out);
  transition: all .2s ease-out;

  &:hover, &:focus {
    color: $licht-groen-hover;
  }

  &.actief {
    color: $licht-groen;
  }

}

i {
  margin-left: 10px;
  transition: all .2s ease-out;
}

/* Algemene opmaak */

.titel-outline {
  display: none;
  opacity: 0;
  text-indent: -9999px;
  text-indent: -9999em;
}

section, header, nav, aside, article, footer {
  display: block;
}

.volledige-breedte {
  float: left;
  margin: 50px 0;
  display: block;
  width: 100%;
  text-align: center;
}

.last {
  margin-right: 0px !important;
}

.actie-knop {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  border-radius: 500px;
  background-color: $licht-groen;
  @include transition(background-color 0.1s ease-out);

  i {
    width: 25px;
    height: 25px;
    text-indent: -9999px;

    &:hover {
      padding-left: 0px !important;
    }
  }

  &:hover, &:focus {
    color: #fff;
    background-color: $licht-groen-hover;

  }
}

.groene-balk {
  float: left;
  display: block;
  margin: 25px 0;
  height: 100px;
  line-height: 100px;
  background-color: $donker-groen;
  /*box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.25);*/
  @include box-shadow(0px 5px 10px 0px rgba(50, 50, 50, 0.25));

  h2 {
    color: #fff !important;
    padding: 0;
  }

}

/* Home */
header {
  margin: 0 auto;
  width: 1170px;
  height: 150px;

  h1 {
    float: left;
    text-indent: -9999px;
    a {
      display: block;
      width: 100px;
      height: 150px;
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      background-size: 88px 100px;
      background-position: center;
    }
  }

  @import "menu";

  .mobile-trigger {
    display: none;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
    }

    li {
      margin-top: 50px;
      display: inline-block;
      font-size: $size14;
      font-weight: $font-normaal;
    }

    a {
      float: left;
      display: block;
      height: 50px;
      line-height: 50px;
      margin: 0 15px;
      padding: 0 15px;
      font-size: $size18;
      text-decoration: none;
      color: $grijs;
    }

    a:hover, a:focus {
      color: $licht-groen-hover;
    }

  }

}

#divIntro {
  width: 100%;
  height: 450px;
  background-color: #eee;

  #divIntroBox {
    margin: 0 auto;
    width: 1170px;

    article {
      float: left;
      margin-top: 100px;
      padding: 35px;
      width: 470px;

      h2 {
        margin-top: 10px;
        margin-bottom: 20px;
      }

    }

    #divIntroAfbeelding {
      float: right;
      width: 585px;
      height: 450px;
      background-image: url("../img/groene-tshirt.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 100% auto;
    }

  }
}

main {
  section {
    margin: 0 auto;
    display: block;
    width: 1170px;
    clear: both;

    h2 {
      display: block;
      padding: 65px 0;
      width: 100%;
      text-align: center;
    }

    h4 {
      margin: 0 auto;
      text-align: center;
      max-width: 770px;
      max-width: 770px / 1170px * 100%;
    }

    a {
      transition: all .2s ease-out;

      &:hover i {
        padding-left: 10px;
      }
    }

    .twee-kolommen {
      float: left;
      display: inline-block;
      width: 470px;
      width: 470px / 1170px * 100%;
      margin-right: 30px;
      margin-right: 30px / 1170px * 100%;
      clear: none;
    }

    .vier-kolommen {
      float: left;
      display: inline-block;
      width: 270px;
      width: 270px / 1170px * 100%;
      margin-right: 30px;
      margin-right: 30px / 1170px * 100%;
    }

    .bg-grijs {
      float: left;
      margin-top: 100px;
      margin-top: 100px / 1170px * 100%;
      margin-bottom: 100px;
      margin-bottom: 100px / 1170px * 100%;
      background-color: #eee;

      summary {
        margin: 50px 100px;
        width: 100%;
      }

    }

    .over-vip-home-service {
      article {
        height: 25px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 15px;

        i {
          float: left;
          font-size: $size24;
          color: $geel;
        }

        h4 {
          float: left;
          margin-left: 15px;
          max-width: 90%;
          text-align: left;
          height: 100%;
          line-height: 100%;
        }

      }

    }

  }

  section.home-dienstencheques {

    display: table;
    margin-bottom: 50px !important;

    summary {
      margin: 50px 100px;
      width: 100%;
    }

    article:first-of-type {
      margin-bottom: 50px;
    }

    h4 {
      margin-bottom: 50px;
    }

    i {

      &.icon-dienstencheques, &.icon-vraag, &.icon-waarde, &.icon-thuishulpen {
        float: left;
        width: 70px;
        height: 200px;
        margin-right: 25px;
        text-indent: -9999px;
        background-repeat: no-repeat;
      }

      &.icon-dienstencheques {
        background-image: url("../img/icon-dienstencheques.png");
      }

      &.icon-vraag {
        background-image: url("../img/icon-vraag.png");
      }

      &.icon-waarde {
        background-image: url("../img/icon-waarde.png");
      }

      &.icon-thuishulpen {
        background-image: url("../img/icon-thuishulpen.png");
      }
    }

    i.pijl-rechts {
      float: right;
      display: inline-block;
      width: 25px;
      height: 50px !important;
      margin-left: 5px;
      text-indent: -9999px !important;
      background: url("../img/icon-pijl-rechts-wit.png") no-repeat center;
      background-size: 16px;
      margin-right: 0;
    }

  }

  section.home-klant-worden {

    .home-klant-worden-afbeelding, .home-klant-worden-tekst {
      float: right;
      width: 570px;
      width: 570px / 1170px * 100%;
      margin-right: 30px;
      margin-right: 30px / 1170px * 100%;
    }

    .home-klant-worden-afbeelding {

      img {
        float: left;
        width: 100%;
      }

    }

    .home-klant-worden-tekst {

      h2 {
        padding: 0 0 15px 0;
        text-align: left;
      }
    }

  }

}

footer {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 50px;
  background-color: #444;

  .footer-een-vraag {
    float: left;
    width: 100%;
    background-color: #333;

    h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: $font-licht;
      margin: 50px 0;
      height: 50px;
      line-height: 50px;
    }

    a {

      display: inline-block;
      width: 30px;
      margin-right: 35px;
      background-color: blue;
      i {
        position: absolute;
        margin-left: 0 !important;
        bottom: -5px;
        font-size: $size24 !important;
      }
    }

  }

  .footer-info {
    margin: 0 auto;
    width: 1170px;

    nav {
      float: left;
      margin: 50px 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;

        li {
          float: left;
          display: inline-block;
          font-size: $size16;
          font-weight: $font-licht;
          width: 182.5px;
          width: 182.5px / 1170px * 100%;
          margin-right: 15px;
          margin-right: 15px / 1170px * 100%;
          color: #fff;

          a {
            color: #fff;

            &.actief {
              color: $licht-groen;
            }

            &:hover, &:focus {
              color: $licht-groen !important;
            }
          }

          ul {

            li:first-child {
              margin-top: 30px;
            }

            li {
              float: left;
              display: block;
              width: 100%;
              color: #ccc;
              margin-bottom: 15px;
            }

            a {

              color: #ccc;

              &:hover, &:focus {
                color: $licht-groen !important;
              }
            }

            .footer-telefoon {
              font-size: $size22;
              color: $licht-groen;

              i {
                width: 25px;
                font-size: $size14;
                display: inline-block;
              }

            }

            .footer-email {
              font-size: $size14;
            }
          }
        }
      }
    }

    .webdesign-webit {
      float: right;

      h2 {
        font-size: $size16;
        text-transform: none;
        font-weight: $font-licht;
        color: #fff;

        a {
          display: inline-block;
          width: 50px;
          text-indent: -9999px;
          margin-left: 5px;
          background-color: red;
          background: url("../img/webit.png") no-repeat;
          background-position: center;
          background-size: 50px;
        }

      }

    }
  }

}

@import "media";
